# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/._CSsocial-media-dashboard-with-theme-switcher-master
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/._.DS_Store
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/._.gitignore
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/._design
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/._images
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/._style-guide.md
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/design/._active-states-dark.jpg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/design/._active-states-light.jpg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/design/._desktop-design-dark.jpg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/design/._desktop-design-light.jpg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/design/._desktop-preview.jpg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/design/._mobile-design-dark.jpg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/design/._mobile-design-light.jpg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/images/._favicon-32x32.png
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/images/._icon-down.svg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/images/._icon-facebook.svg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/images/._icon-instagram.svg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/images/._icon-twitter.svg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/images/._icon-up.svg
CSsocial-media-dashboard-with-theme-switcher-master/__MACOSX/CSsocial-media-dashboard-with-theme-switcher-master/images/._icon-youtube.svg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/style-guide.md
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/design/active-states-dark.jpg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/design/active-states-light.jpg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/design/desktop-design-dark.jpg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/design/desktop-design-light.jpg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/design/desktop-preview.jpg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/design/mobile-design-dark.jpg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/design/mobile-design-light.jpg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/images/favicon-32x32.png
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/images/icon-down.svg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/images/icon-facebook.svg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/images/icon-instagram.svg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/images/icon-twitter.svg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/images/icon-up.svg
CSsocial-media-dashboard-with-theme-switcher-master/CSsocial-media-dashboard-with-theme-switcher-master/images/icon-youtube.svg
